/*
index.css
Danielle Taplin
7/1/2023
CSS document containing general site styling for my index page for my personal portfolio
*/

  .content {
    color: #FFFFFF;
    text-align: center;
  }

  h1, h2 {
    margin-top: 400px;
  }
  
  h1 {
    font-size: 115px;
    letter-spacing: .09em;
  }

  h2 {
    font-size: 60px;
    margin-top: 1em;
    text-align: center;
  }

  img {
    padding-right: 60px;
    object-position:center;
    float: left;
  }
  .my-photo {
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

  .main-content {
    margin: auto 0;
    height: 100px;
    width: 500px;
    float:left;
    padding-bottom: 10em;
    object-position: center;
  }

  .bucket-list {
    display: flex;
    column-gap: 60px;
    font: bold;
  }


  /*styling for chevron icon anchor/jump link*/
  .fa-3x {
    text-align: center;
    padding-top: 5em;
  }

  .fa-3x a {
    color: white;
  }

  .fa-3x a:hover {
    color: lightblue;
  }

  /*footer styling*/
  footer {
  text-align: center;
  }
/*nav links*/
  a {
    color: white;
    text-decoration: none;
  }
  a:visited {
    color: white;
  }